body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
  background-color: #8489ae1c;
  color: #333;
  height: 100vh;
}
nav {
  width: 280px;
  height: 100vh;
  position: fixed;
  padding: 10px;
  margin: 0 auto;
}
main,
footer {
  margin-left: 250px;
  padding: 20px;
}
h1 {
  margin: 0;
  color: #333;
  font-size: 40px;
}

li {
  list-style: none;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
h2 {
  color: #333;
  font-size: 30px;
}
img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
}
section:hover {
  box-shadow: 0 0 2px 1px rgba(159, 191, 218, 0.945);
}

h3 {
  font-size: 20px;
  transition: color 1s;
}

h3::after {
  width: 20px;
  height: 3px;
  transition: width 1.4s ease;
}
